.top_bar{
    display: flex;
    padding-left: 15%;
    background-color: #ffffff;
    height: 50px;
    line-height: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    color: #444444;
    text-align:center;
    align-items:center;
    background-image:linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,15%);
    background-repeat:repeat-x;
}

.top_bar ul{
    background-color: #ffffff;
    height: 50px;
    text-align:center;
    align-items:center;
    display: flex;
    width: 100%;
}

.top_bar button{
    display: flex;
    background-color: #ffffff;
    color: #ff97d5;
    font-weight: 600;
}
.top_bar  .top_button{
    display: flex;
    background-color: #ffffff;
    color: #ff97d5;
    font-weight: 600;
}
.top_bar .coll{
    display: none;
}
@media screen and (max-width: 480px) {
    .top_bar .top_button{
        display:none;
    }
    .top_bar .coll{
        display: flex;
        background-color: #ffffff00;
        color: #666666;
        margin-left: auto;
        font-size: 30px;
    }
}
.top_bar button:hover{
    display: flex;
    background-color: #dddddd;
    color: #ffffff;
}

.top_bar .logo_img{
    height: 30px;
}

.top_block{
    display: flex;
    background-image: linear-gradient(#ff97d5, #f4b5db);
    height: 70px;
    flex-direction: row;
    flex-wrap: wrap;
}

.no_warp{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}